#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: top;
    column-gap: 5%;
    width: 100%;
    height: 10%;
}
#title_img{
    width:50%;
    height:2%;
    order:1;
}
#mail_img{
    order:2;
    height:2%;
    padding-top: 1%;
    padding-left: 2%;


}

#sign_and_sub_division{
    display: flex;
    padding-top: -10%;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: nowrap;
    order:4;
    align-self: flex-end;
}
#sign_in{
    background: White;
    font-size: 18px;
    color: gray;
}

#subscribe{
    background: Black;
    font-size: 18px;
    color: white;
}
#under_bar{

}