@media screen and (max-width: 900px) {
    #drop-menu {
        display: none;
    }
}
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    column-gap: 2%;
    row-gap: 2%;
    width: 100%;
    height: 10%;
    max-height: 10%;
}
#title_img{
    width:50%;
    max-width: 50%;
    height:auto;
    order:1;
}
#title_caption{
    width: 50%;
    max-width: 50%;
    height: auto;
}
#mail_img{
    order:2;
    max-width:100%;
    height:2%;
    align-self: baseline;

}
#sign_and_sub_division{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    max-height: 2%;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    order:4;
}
#sign_in{
    background: White;
    font-size: 5%;
    height: 2%;
    width:70%;
    max-height: 2%;
    max-width: 70%;
    color: gray;
}
#subscribe{
    background: Black;
    font-size: 5%;
    height: 2%;
    max-height: 2%;
    width: 70%;
    max-width: 70%;
    color: white;
}
#drop-menu {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}


ul#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin:0 0 0;
    padding: 0;
    list-style: none;
    float:left;
    width: 100%;
    background-color: darkred;
    font-size:80%;
    font-family: Signika,Helmet,Freesans,sans-serif;
}

ul#menu li {
    margin:0;
    padding:0;
    float:left;
    display: block;
    position: relative;
}

ul#menu li a {
    float: left;
    padding:12px 30px;
    color: white;;
    text-transform: none;
    text-decoration:none;
}

ul#menu li a:hover {
    background: white;
    color: black;
}

.tend {
    margin:2px 0 0;
    padding:0;
    display:inline-block;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index:9999;
    background: white;
    box-shadow: black 0px 0px 10px;
}

ul#menu li:hover ul {
    opacity: 1;
    visibility: visible;
}

ul#menu ul li {
    float: none;
    display: block;
    color: black;
    border: 0;
}

ul#menu ul a {
    padding:10px;
    width: 130px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    color: black;
}

ul#menu ul a:hover {
    background-color: darkred;
    color: black;
}


.under_bar{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    margin: 0;<!-- display:flex -->
    padding: 0;<!-- flex-direction:row  -->
    top:10%;
    left: 0;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    border-bottom-color: gray;
    border-top-color: gray;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
}
.bar_wrapper{
    display: flex;
    justify-content: center;
    max-width: 70%;
    height: auto;
    text-align: left;
}
.comment_under_bar{
    align-self: flex-end;
    font-size: smaller;
    font-family: Signika,Helmet,Freesans,sans-serif;
}
.img_under_bar{
    float: left;
    width: 100%;
    height: 100%;
    max-height: 15%;
    max-width: 15%;
}
