@media screen and (max-width: 900px) {
    ul#menu #last_element_red_bar {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    #drop-menu {
        display: none;
    }
    .space{
        display: none;
    }
    #header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        /*
        display: grid;
        grid-template-columns: auto auto auto auto;
        */
        margin-top: 0;
        margin-bottom: 1%;
        width: 100%;
        height: 10%;
        max-height: 10%;
        box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    }
}
/*
@media screen and (max-width: 900px) {
    div#header_drop_down {
        display: none;
    }
}
*/
*{
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, Helmet, Freesans, sans-serif;
    font-style: normal;
    font-weight: 700;
}
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /*
    display: grid;
    grid-template-columns: auto auto auto auto;
    */
    margin-top: 0;
    width: 100%;
    height: 10%;
    max-height: 10%;
}
#title_img{
    width:60%;
    max-width: 60%;
    text-align: center;
    height:auto;
    order:1;
}
#title_caption{
    width: 50%;
    max-width: 50%;
    height: auto;
    font-size: smaller;
    text-align: center;
    font-family: Signika,Helmet,Freesans,sans-serif;
}
#mail_img{
    max-width: 100%;
    height: auto;
    order: 2;
}

#header_drop_down{
    order:3;
    height: auto;
}

ul#header_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    float: left;
    margin:15% 0 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size:80%;
    font-family: Signika,Helmet,Freesans,sans-serif;
}

ul#header_menu .first {
    background-color: black;
    margin:0;
    padding:0;
    float:left;
    font-size: 120%;
    display: block;
    position: relative;
}

ul#header_menu .second {
    float:left;
    background-color: white;
    margin:0;
    padding:0;
    font-size: 120%;
    display: block;
    position: relative;
}
ul#header_menu .first a {
    float: left;
    color: white;
    text-transform: none;
    text-decoration:none;
}
ul#header_menu .second a {
    float: left;
    color: gray;
    text-transform: none;
    text-decoration:none;
}

ul#header_menu .first a:hover {
    text-decoration: underline;
}

.header_tend {
    margin:-45% 0 0;
    padding:0;
    display:inline-block;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index:9999;
    background: black;
    border-radius: 5px;
    border:1px solid white;
}
.header_tend_after_compression {
    margin:-45% 0 0 -202%;
    padding:0;
    display:inline-block;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index:9999;
    background: black;
    border-radius: 5px;
    border:1px solid white;
}

ul#header_menu li:hover ul {
    opacity: 1;
    visibility: visible;
}

ul#header_menu ul li {
    float: none;
    display: block;
    color: white;
    border: 0;
}

ul#header_menu ul a {
    padding:10px;
    width: 130px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    font-size: 90%;
    color: white;
    text-align: right;
}
ul#header_menu ul a:hover {
    background-color: darkred;
    color: white;
}


#drop-menu {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    z-index: 2;/*Above all*/
}
/* The sticky class is added to the drop-menu with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

ul#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin:0 0 0;
    padding: 0;
    list-style: none;
    float:left;
    width: 100%;
    background-color: darkred;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    font-size:80%;
    font-family: Signika,Helmet,Freesans,sans-serif;
}

ul#menu li {
    margin:0;
    padding:0;
    float:left;
    font-size: 120%;
    display: block;
    position: relative;
}

ul#menu li a {
    float: left;
    padding:12px 30px;
    color: white;;
    text-transform: none;
    text-decoration:none;
}

ul#menu li a:hover {
    background: white;
    color: black;
}

.tend {
    margin:2px 0 0;
    padding:0;
    display:inline-block;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index:9999;
    background: white;
    box-shadow: black 0px 0px 10px;
}
.last_tend{
    margin:2px 0 0 -35%;
    padding:0;
    display:inline-block;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index:9999;
    background: white;
    box-shadow: black 0px 0px 10px;
}
ul#menu li:hover ul {
    opacity: 1;
    visibility: visible;
}

ul#menu ul li {
    float: none;
    display: block;
    color: black;
    border: 0;
}

ul#menu ul a {
    padding:10px;
    width: 130px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    font-size: 70%;
    color: black;
}

ul#menu ul a:hover {
    background-color: darkred;
    color: black;
}
.under_bar{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    margin: 0;<!-- display:flex -->
    padding: 0;<!-- flex-direction:row  -->
    top:10%;
    left: 0;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    border-bottom-color: gray;
    border-top-color: gray;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
}
.bar_wrapper{
    display: flex;
    justify-content: center;
    max-width: 70%;
    height: auto;
    text-align: left;
}
.comment_under_bar{
    align-self: flex-end;
    font-size: smaller;
    font-family: Signika,Helmet,Freesans,sans-serif;
}
.comment_under_bar a{
    color: black;
    text-decoration: none;
}
.comment_under_bar a:hover {
    text-decoration: underline;
}
.comment_under_bar span{
    color: gray;
    font-size: smaller;
    font-family: Signika,Helmet,Freesans,sans-serif;
}
.img_under_bar{
    float: left;
    max-height: 100%;
    max-width: 100%;
}
.sub_under_bar{
    text-align: center;
    margin: 12px auto 0;
    font-size: 12px;
}
.sub_under_bar div:first-of-type{
    border-left: 0;
}
.sub_under_bar .externals{
    border-left: 0;
}
.sub_under_bar div{
    padding: 0 5px;
    border-left: 1px solid black;
    display: inline;
    font-family: Signika,Helmet,Freesans,sans-serif;
}
.sub_under_bar div a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.sub_under_bar div a:hover{
    color: black;
    text-decoration: underline;
}
#main_content{ /*main content settings*/
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
}
#main_content nav#articles{ /*left column*/
    order: 1;
    flex-basis: 25%;
    max-width: 425px;
    border-right: 1px solid gray;
    flex-direction: column;
    padding-right: 1%;
}
#main_content #middle_column{ /*for the middle column*/
    order: 2;
    flex-basis: 50%;
    max-width: 500px;
    flex-direction: column;
}
section#middle_column .front_article{
    color: #5b5b5b;
    border-bottom: 5px solid #ccc;
    margin-bottom: 20px;
}
section#middle_column .front_article .main_article_title{
    font-size: 185%;
    font-family: Signika,Helmet,Freesans,sans-serif;
}
section#middle_column .front_article .main_article_title a{
    text-decoration: none;
    color: black;
}
section#middle_column .front_article .main_article_title a:hover{
   text-decoration: underline;
}
.main_article_img .donald_caption{
    font-family: Signika,Helmet,Freesans,sans-serif;
    color: #5b5b5b;
    font-size: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.main_article_img .donald_caption a{
    text-decoration: none;
    color: #428bca;
}
.main_article_img .donald_caption a:hover{
    text-decoration: underline;
    color: blue;
}

.main_article_img figure{
    margin:0 0 0 0;
}
.donald_img_pure{
    max-width: 100%;
    max-height: 100%;
}

#main_content #third_column{/*third column*/
    order: 3;
    flex-direction: column;
    flex-basis: 25%;
    max-width: 425px;
    border-left: 1px solid gray;
    padding-left: 1%;
}

#follow_bar{
    font-size: 150%;
    margin-bottom: 2%;
    font-weight: 700;
    font-family: Signika,Helmet,Freesans,sans-serif;
}

.share{
    max-width: 30px;
    max-height: 30px;
    margin:0 1%;
}
#search_field_set{
    border: 1px solid #333;
    border-radius: 5px;
}
#search_button{

}
/*Animated search box*/

.search-anim-box{
    display: inline-block;
    position: relative;
    border-radius: 25px;
    border: 3px solid darkred;
    margin-bottom: 1%;
}
.search-anim-box span {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -7px;
    right: -8px;
    transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}
.search-anim-box span:before, .search-anim-box span:after {
    content: '';
    height: 12px;
    border-left: solid 3px darkred;
    position: absolute;
    transform: rotate(-45deg);
}
.search-anim-box span:after {
    transform: rotate(45deg);
    opacity: 0;
    top: -10px;
    right: -5px;
    transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}
input {
    font-family: 'Open Sans','Helvetica Neue','Helvetica','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
    width: 27px;
    height: 27px;
    padding: 3px 20px 3px 5px;
    border: none;
    box-sizing: border-box;
    border-radius: 25px;
    background: #fff;
    transition: width 800ms cubic-bezier(0.25, -0.25, 0.25, 0.25) 600ms;
    color: darkred;
}
.search-anim-box input:focus {
    outline: none;
}
.search-anim-box input:focus, .search-anim-box input:not(:placeholder-shown) {
    width: 150px;
    transition: width 800ms cubic-bezier(0.25, -0.25, 0.25, 0.8);
}
.search-anim-box input:focus + span, .search-anim-box input:not(:placeholder-shown) + span {
    bottom: 7px;
    right: 5px;
    transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}
.search-anim-box input:focus + span:after, .search-anim-box input:not(:placeholder-shown) + span:after {
    top: 0;
    right: 5px;
    opacity: 1;
    transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}

/*end anim search bar*/

/*Commentary Section*/

#commentary_section{
    display: block;
}

.right_side_comment_header{
    margin: 3% 0 2%;/*TODO revisit 2*/
    text-transform: uppercase;
    padding: 2% 0 2% 4%;
    background-color: #9ea7b3;
    color: white;
    font-size: 120%;

}
.right_side_comment_header a{
    text-decoration: none;
    color: white;
}
.right_side_comment_header a:hover{
    text-decoration: underline;
}

.journalist_col{
    display: flex;
    flex-direction: column;
    align-items: stretch;/*TODO see for images left aligned respect to text*/
    margin-bottom: 5%;/*TODO verify*/
}






#main_content #articles article{/*for the articles spacing*/
    margin-bottom: 2%;
}

.article_wrapper{ /*left column articles image text*/
    /*
    display:flex;
    flex-direction: row;
     */
    overflow: hidden;
}

.img_article{
    float:left;
    max-width: 25%;
    height: auto;
}

.article_text{
    /*align-self: flex-end;*/
    float: right;
    padding-left: 2%;
    max-width: 75%;
    height: auto;

}
.article_text a{
    text-decoration: none;
    color: black;
    font-family: Signika,Helmet,Freesans,sans-serif;
    font-size: smaller;
}
/*for the commentary section*/
.article_text h4 a{
    font-family: Montserrat, Helmet, Freesans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: larger;
    color: black;
    text-decoration: none;
}
.line{
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.commentary_article{
    border-bottom: 1px solid #ccc;
    padding-bottom: 2%;
    margin-top: 5%;
    border-bottom-style: dotted;
}

.article_text p a{
    font-family: 'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size: 92%;
    color: black;
    text-decoration: none;
}
.journalist_col .article_text{
    float: right;
    max-width: 75%;
    height: auto;
}

.link_more_columnist_div{
    padding-bottom: 5%;
    border-bottom: 2px solid #ccc;
}

.link_more_columnist{
    color: black;
    text-align: right;
    font-size: small;
    text-transform: uppercase;
}
.link_more_columnist a{
    color: black;
    font-family: Signika,Helmet,Freesans,sans-serif;
    text-decoration: none;
    font-size: 90%;
}
.link_more_columnist a:hover{
    text-decoration: underline;
}

.mug_div{
    padding-bottom: 5%;
    border-bottom: 2px solid #ccc;
}

.mug_p{
    color: black;
    text-align: center;
    font-size: 85%;
    font-weight: 700;
    text-transform: uppercase;
}

.mug_p a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
}

.mug_p a:hover{
    text-decoration: underline;
}

/*selector radio button*/
#QA{

}
#QA .QA-label {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 2% 3%;
    margin: 5% 0;
    cursor: pointer;
    transition: .3s;
}

#QA .QA-label:hover,
#QA .QA-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

#QA .QA-input {
    width: 1px;
    height: 1px;
    opacity: 0;

}
#QA .QA-design {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
}
#QA .QA-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

#QA .QA-input:checked+.QA-design::before {
    transform: scale(0);
}

#QA .QA-text {
    color: hsl(0, 0%, 60%);
    text-transform: uppercase;
    padding-left: 3%;
    font-weight: 900;
    font-size: 50%;
    transition: .3s;
    font-family: Montserrat, Helmet, Freesans, sans-serif;
    font-style: normal;
}

#QA .QA-input:checked~.QA-text {
    color: hsl(0, 0%, 40%);
}




.article_text a:hover{
    text-decoration: underline;
}

/*End commentary section between left column*/
/*Top of the times section*/

.video{/*TODO revisit*/
    margin-top: 1%;
    max-width: 100%;
    height: auto;
}

.video_lower{
    padding-bottom: 5%;
    border-bottom: 2px solid #ccc;
}

/*Rapid reactions*/
.right_side_comment_header_rapid{
    margin: 5% 0 2%;/*TODO revisit 2*/
    text-transform: uppercase;
    padding: 2% 0 2% 4%;
    background-color: #9ea7b3;
    color: white;
    font-size: 120%;

}
.right_side_comment_header_rapid a{
    color: white;
    text-decoration: none;
}
.right_side_comment_header_rapid a:hover{
    text-decoration: underline;
}

#rapid_reactions{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.article_text .under_page{
    text-decoration: none;
    font-family: Signika,Helmet,Freesans,sans-serif;
    font-size: 70%;
    color: #428bca;
}
.article_text sub .under_page:hover{
    text-decoration: underline;
    color: darkblue;
}

.article_wrapper_rapid{
    overflow: hidden;
    padding-bottom: 5%;
}
.article_wrapper_rapid_bottom{
    overflow: hidden;
    padding-bottom: 5%;
    border-bottom: 2px solid #ccc;
}

/*Media spotlight*/
.article_text .under_page_spot{
    text-decoration: none;
    color: black;
    font-family: Signika,Helmet,Freesans,sans-serif;
    font-size: 70%;
}
.article_text sub .under_page_spot:hover{
    text-decoration: underline;
    color: black;
}

.cartoon{
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.sub{
    max-width: 113px;
    padding: 2px;
}
.sub p{
    color: #fff;
    background-color: #a9091f;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat,Helmet,Freesans,sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.3em;
    padding: 3px 5px;
}

