#sticky_bar{
    color:darkred;
    padding: 0;
    width: 100%;
    height:1%;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#sticky_bar_element{
    padding-left: 5%;
    color: white;
    padding-right: 5%;
    font-family: Signika,Helmet,Freesans,sans-serif;
}
#sign_and_sub_division{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    max-height: 2%;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    order:4;
}
#sign_in{
    background: White;
    font-size: 5%;
    height: 2%;
    width:70%;
    max-height: 2%;
    max-width: 70%;
    color: gray;
}
#subscribe{
    background: Black;
    font-size: 5%;
    height: 2%;
    max-height: 2%;
    width: 70%;
    max-width: 70%;
    color: white;
}

.bar_wrapper_ghost{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    height: auto;
}
#mail_img{
    order:2;
    max-width:100%;
    height:2%;
    align-self: baseline;

}
#sign_and_sub_division{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    max-height: 2%;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    order:4;
}
#sign_in{
    background: White;
    font-size: 5%;
    height: 2%;
    width:70%;
    max-height: 2%;
    max-width: 70%;
    color: gray;
}
#subscribe{
    background: Black;
    font-size: 5%;
    height: 2%;
    max-height: 2%;
    width: 70%;
    max-width: 70%;
    color: white;
}
.journalist_col article{
    overflow: hidden;
}

.journalist_col article figure{ /*for the wrapper of the right column images in the commentary section*/
    float:left;
    margin-left:0;
    margin-right: 2%;
    margin-bottom: 0;
    max-width: 25%;
    height: auto;
}
.journalist_col article p{
    float: right;
    padding-right: 1%;
    max-width: 75%;
    height: auto;
}
.journalist_col article h4 a{
    font-family: Montserrat, Helmet, Freesans, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.journalist_col article h4 a:hover{
    text-decoration: underline;
}

.journalist_col article  p p a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: Signika,Helmet,Freesans,sans-serif;
    font-size: smaller;
}
.journalist_col article p p a:hover{
    text-decoration: underline;
}
/* HTML old
<form id="anim_form"><!--action="search.php" method="get"-->
<!--<fieldset id="search_field_set">-->
<input class="search_button" type="submit" value="GO" title="Search..."></input>
<label for="search_input">Search</label>
<input id="search_input" placeholder="Search..." value="" type="search"></input>
<span class="caret"></span>
<!--</fieldset>-->
</form>
*/
